<div class="mt-32">
  <div class="container">
    <div class="grid grid-cols-12 gap-8">
      <div class="col-span-12 md:col-span-6 xl:col-span-8 border p-5">
        <a href="javascript:void(0)" class="category text-primary inline-block mb-5">Housing Type</a>
        <h1 class="_title font-medium">Name of Housing</h1>
        <h3 class="_title font-medium">Address of housing</h3>
        <h5 class="category text-primary inline-block mb-5 additional_details">Floor </h5> <br>       
        <h5 class="category text-primary inline-block mb-5 additional_details">Minimum income requirement</h5><br>
        <h5 class="category text-primary inline-block mb-5 additional_details">Available from </h5>
        <br>
        <h6 class="amenities_languages">Amenities</h6>
        <div class="amenities_details">
         <p>In-unit washer and dryer </p>
         <p> Dishwasher </p>
         <p> Furnished </p>
         <p> Fitness center </p>
         <p> Parking available </p>
         <p> Guest parking spots</p>
         <p> Pets allowed </p>
         <p> Public transportation access </p>
        </div>
        <br>
        <h6 class="amenities_languages">Languages spoken in this area</h6>
        <div class="amenities_details">
        <p>English</p>
        <p>Spanish</p>
        <p>Creole</p>
        </div>
        <ul class="product-meta flex flex-wrap items-center mt-8 mb-8">
          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)"
              ><mat-icon class="mr-2" color="warn">start</mat-icon> 4.5/5
            </a>
          </li>

          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)"
              ><mat-icon class="mr-2">share</mat-icon> Share</a
            >
          </li>
        </ul>
        <img class="w-full" src="assets/images/products/apartmentPhoto.gif" alt="img not found" />
        <div class="ll-content mt-8">
          <!--<h5>Special text field</h5>-->
          <h5>Testimonials</h5>
          <!--<h6>Header</h6>-->
         <!-- <p>Paragraph section</p>-->

          <!--<blockquote>Blockquote section</blockquote>-->
          <blockquote class="quote">"I have consistently experienced the best residential support
             services of my life with AAA Property Management"</blockquote>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 xl:col-span-4">
        <div class="border">
          <div class="border-b text-center pt-10 pb-10">
            <div class="text-accent text-4xl font-semibold">$3,000.00</div>
            <div class="category text-primary inline-block mb-5">Monthly Rent</div>
          </div>
            <h6 class="expenses_title">Other monthly expenses</h6>
          <div class="other_expenses">
            <p>Electricity</p>
            <p>Gas</p>
            <p>Water</p>
            <p>Sewer</p>
            <p>Internet</p>
            <p>Cable</p>
          </div>
          <div class="border-b p-5 text-center">
            <p class="mt-2">Office hours: 9 - 5</p>
            <button mat-stroked-button class="py-2 px-12 text-lg font-bold text-gray-700">View all hours</button>
          </div>
          <div class="border-b p-5">
            <h5>Contact Info</h5>
            <div class="flex mt-2">
              <div class="flex-grow">
                <p class="mt-2">&#9742; (800) 000-0000</p>
              </div>
            </div>
            <div class="flex mt-4"></div>
          </div>
          <div class="border-b px-5 pt-10 pb-12 text-center">
            <button mat-flat-button class="py-3 px-20 text-xl font-bold" color="accent">Contact Property</button>
          </div>
        </div>
        <!--<div class="border mt-5 px-5 py-10 text-center">
          <button mat-stroked-button class="py-2 px-12 text-lg font-bold text-gray-700">Extra Button</button>
        </div>-->
      </div>
    </div>
  </div>
</div>
