<div class="ll-conditions">
  <div class="pt-52 pb-32 bg-gray-100 text-center">
    <div class="container">
      <h3>Terms and Conditions</h3>
    </div>
  </div>
  <!-- About  -->
  <div class="pt-20 pb-24">
    <div class="container">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
              <div class="content">
                <p><strong>Website Legal Notices Legal Disclaimer Regarding Accuracy of Informatione</strong></p>
                <br>
                <p>
                  Visitors to the website are advised information contained within the pages of the Website is 
                  believed to be accurate. Orlando AH and its partners try to source the most current and accurate
                   available data. However, no claims, promises or guarantees about the accuracy, completeness, or 
                   adequacy of the information are made. Visitors are encouraged to confirm any data presented from 
                   direct sources.
                </p>
                <br>
                <p><strong>Legal Disclaimer Regarding Links to Other Sites</strong></p>
                <br>
                <p>
                  Many of the linked sites are not under the control of Orlando AH, Valencia College or the City of 
                  Orlando and are therefore not the responsibility of the aforementioned parties. Any provided link 
                  to a site is not an endorsement by Orlando AH, Valencia College or the City of Orlando. Nor is it 
                  an indication of affiliation with the sites’ owners or publishers. Users should be aware of the 
                  inherent risks when using any internet based information, software or services and proceed with caution.
                </p>
                <br> 
                <p><strong> Notification that Information Provided by You is Public Information</strong></p>
                <br>
                <p>
                  Any information provided by users to the site, including but not limited to feedback, questions, 
                  comments, and suggestions are non-confidential. Orlando AH and its partners have no obligation 
                  of any kind with respect to such information and are free to reproduce, use, and disclose the 
                  information to others without limitation.
                </p>
                <br>
                <p><strong>No Commercial Use</strong></p>
                <br>
                <p>
                  Commercial use of the website materials is prohibited without the written permission of Orlando AH 
                  site managers.
                </p>
                <br>
                <p><strong>Website Accessibility Policy</strong></p>
                <br>
                <p>
                  Orlando AH aims to provide websites that are accessible to everyone, including individuals with 
                  disabilities. The website is designed to be accessible to people with disabilities by meeting the 
                  World Wide Web Consortium’s Web Content Accessibility Guidelines (WCAG) 2.0 Level AA.
                </p>
                <br>
                <p><strong>Accessibility Design Guidelines – Website</strong></p>
                <br>
                <p>
                  Wherever possible, we use live text instead of graphics to reduce the download time of pages and increase your control.
                  No information is exclusively conveyed using color. This doesn’t mean that colors are not used to organize information; instead it means there are also other, non-color dependent ways of doing this.
                  We have attempted specifically to comply with Section 508 referring to website accessibility standards.
                </p>
                <br>
                <p><strong> Report an issue</strong></p>
                <br>
                <p>
                  If you cannot access information or a service on our site, please send an email through our contact form. Include the web address of the page you were on, and describe the problem you encountered. 
                </p>              
              </div>
            </div>
    </div>
  </div>
</div>

